<template>
  <div class="section">
    <div class="container is-fluid">
      <div class="columns is-multiline">
        <div class="column is-3" v-for="product in products" :key="product.slug">
          <Product :product="product"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Product from '@/components/products/product'

export default {
  data () {
    return {
      products: []
    }
  },
  components: {
    Product
  },
  async asyncData ({ params, app }) {
    let response = await axios.get(`http://l56-ecommerce.test/api/products?category=${params.slug}`)

    return {
      products: response.data.data
    }
  }
}
</script>